@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --background: #f9f9fb;
  --foreground: #171717;

  --font-primary: #111210;
  --font-secondary: #6b6b6b;
  --primary: #ff5480;
  --primary-dark: #c54263;
}
